.my_input{
  padding: 10px 30px;
  font-size: 14px;
  background: #ffffff;
  border-radius: 20px;
  width: 33%;
  top: 20px;
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}